# .gitignore for Swift/Xcode

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Package Managers
.build/

## App Store Connect deliveries
# *.ipa

## Xcode build artifacts
build/
DerivedData/

## DerivedData for SwiftPM
.swiftpm/xcode/

# macOS
#
# gitignore contributors: remember to update Global/macOS.gitignore

.DS_Store
fseventsd-uuid

# Flare Specific
# If you have any local config or secrets, add them here
